In [1]:
1+2

3

In [2]:
x, y = 2, 3

In [3]:
x

2

In [4]:
y

3

In [5]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [6]:
tu[0]

23

In [7]:
tu[1]

'abc'

In [1]:
li = ["abc", 34, 4.34, 23]

In [2]:
li[0]

'abc'

In [16]:
st = 'Hello World'

In [17]:
st = '''This is a multi-line string that uses triple quotes.'''

In [18]:
st

'This is a multi-line string that uses triple quotes.'

In [19]:
st[1]

'h'

In [10]:
st = '''This is a multi-line
string that uses triple quotes.'''

In [11]:
print(st)

This is a multi-line
string that uses triple quotes.

In [12]:
li[-2]

4.34

In [21]:
t = [1, 2, 3, 4, 5]
3 in t

True

In [22]:
4 in t

True

In [23]:
4 not in t

False

In [24]:
a='abcde'

In [26]:
'c' in a

True

In [27]:
'cd' in a

True

In [28]:
'ac' in a

False

In [29]:
(1, 2, 3) + (4, 5 ,6)

(1, 2, 3, 4, 5, 6)

In [30]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [31]:
'Hello' + ' ' + 'World'

'Hello World'